/*GENERAL SELECTORS */
* {
  box-sizing: border-box;
}

html, body {
  font-family: Lato;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.win-prompt {
  display: none;
  margin-bottom: 20px;
  text-align: center;
}

.simon-container {
  display: flex;
  padding: 10px;
  position: relative;
  height: 500px;
  width: 500px;
  flex-wrap: wrap;
  background: #000;
  border-radius: 50%;
}

.row {
  width: 100%;
  display: flex;
}

.simon-container > .row:first-child {
  margin-bottom: 10px;
}

.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: white;
  border-radius: 50%;
  border: 10px solid;
  height: 260px;
  width: 260px;
  top: 120px;
  left: 125px;
}

.options {
  display: flex;
  visibility: hidden;
  margin-bottom: 20px;
  width: 100%;
  justify-content: space-around;
  -webkit-transition: visibility 1s, opacity 1s linear;
  -moz-transition: visibility 1s, opacity 1s linear;
  -ms-transition: visibility 1s, opacity 1s linear;
  -o-transition: visibility 1s, opacity 1s linear;
}

.options.visible {
  visibility: visible;
  opacity: 1
}

.options.hidden {
  visibility: hidden;
  opacity: 0;
}

.option > :last-child {
  margin-top: auto;
}

.option {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
  margin-right: 5px;
  align-items: center;
}

.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #000
}

.toggled {
  background: #000;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.toggled.enabled {
  background: green;
}

.btn-red {
  background: red;
}

.btn-yellow {
  background: gold;
}

.strict, .counter {
  margin: 0;
}

.pod {
  flex-grow: 1;
  transition: all .5s ease;
  pointer-events: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}



/* DIV Colours */
.green {
  background: rgba(0, 255, 0, 0.7);
  border-top-left-radius: 100%;
  margin-right: 10px;
}

.green.playing {
  background: #13ff7c;
}

.red {
  background: rgba(255, 0, 0, 0.7);
  border-top-right-radius: 100%;
}

.red.playing {
  background: #ff4c4c;
}

.yellow {
  background: rgba(255, 255, 0, 0.7);
  border-bottom-left-radius: 100%;
  margin-right: 10px;
}

.yellow.playing {
  background: #fed93f;
}

.blue {
  background-color: rgba(0, 0, 255, 0.7);
  border-bottom-right-radius: 100%;
}

.blue.playing {
  background: #1c8cff;
}
